@{
    ViewBag.Title = "Ata";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            @ViewBag.birimAd birimi için Parça Atama İşlemi
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Ata", "Yonetici", FormMethod.Post))
            {
                <div class="mb-3">
                    <label for="parcaBaslik" class="form-label">Parça İsmini Giriniz</label>
                    <input type="text" class="form-control" id="parcaBaslik" name="parcaBaslik" />
                </div>
                <div class="mb-3">
                    <label for="parcaAciklama" class="form-label">Parça Açıklamasını Giriniz</label>
                    <input type="text" class="form-control" id="parcaAciklama" name="parcaAciklama" />
                </div>
                <div class="mb-3">
                    <label for="selectPer" class="form-label">Personel Seçiniz</label>
                    <select class="form-select" name="selectPer" id="selectPer">
                        @foreach (var personel in ViewBag.personeller)
                        {
                            <option value="@personel.personelId">@personel.personelAdSoyad</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-primary">Parça Ata</button>
                </div>
            }
        </div>
    </div>
</div>
